@media (max-width: 650px) {
    #forecastDisplay {
        width: 100%;
    }
    .forecastDesktop {
        display: none;
    }
}
@media (min-width: 650px) {
    #forecastDisplay {
        width: 100%;
    }
    /* .forecastMobile {
        display: none;
    } */
}
@media (min-width: 1150px) {
    #forecastDisplay {
        width: 50%;
    }
    /* .forecastMobile {
        display: none;
    } */
}