/* Small devices */
@media (max-width: 991.98px) {
    #forecastDisplay {
        width: 100%;
    }
    /* #forecastDisplay * {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .accordion-item {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .accordion-button {
        padding-left: 0;
        padding-right: 0;
    } */
}
/* Medium devices */
@media (min-width: 992px) {
    #forecastDisplay {
        width: 50%;
    }
}

.weather {
    margin: 0 auto;
}
.container {
    width: 100%;
    margin: 70px auto 0 auto;
}